<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ooi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kenta.takahashi/.local/share/mise/installs/go/1.26.2/bin/ooi</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/tmp/ooi.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ooi.err</string>
</dict>
</plist>
